<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    {% block head %}
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <script type="text/javascript">document.documentElement.className=document.documentElement.className.replace("no-js","js");</script>
    <link rel="stylesheet" href="{{ site.assetsPath }}main.css" />
    {% block extra_head %}{% endblock %}
    {% endblock %}
</head>
<body>
    {% block header %}
    <header>
    </header>
    {% endblock %}
    {% block main %}
    <main role="main">
        {{ content|safe }}
    </main>
    {% endblock %}
    {% block footer %}
    <footer>
    </footer>
    {% endblock %}
    <script type="text/javascript" src="{{ site.assetsPath }}main.js"></script>
</body>
</html>
